src/main/configurations/frank/xsd/ValidateDeleteTaakInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="melding" type="xs:string" />
        <xs:element name="taakopdracht" type="xs:string" />
        <xs:element name="reden" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>