src/main/configurations/frank/xsd/ValidateLuminizerZaakTypes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="results">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="_links">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="self"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="uuid"/>
              <xs:element type="xs:string" name="omschrijving"/>
              <xs:element type="xs:string" name="toelichting"/>
              <xs:element type="xs:string" name="additionele_informatie"/>
              <xs:element name="extra">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="luminizerOnderwerpOmschrijving"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>