src/main/configurations/frank/xsd/ValidatePostTaakArrayInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="taaktype" type="xs:string" />
        <xs:element name="titel" type="xs:string" />
        <xs:element name="bericht" type="xs:string" nillable="true" />
        <xs:element name="taakopdracht_id" type="xs:string" minOccurs="0"/>
        <xs:element name="taakopdracht" type="xs:string" />
        <xs:element name="melding" type="xs:string" />
        <xs:element name="gebruiker" type="xs:string" minOccurs="0" nillable="true" />
        <xs:element name="additionele_informatie" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
        </xs:element>
        <xs:element name="omschrijving_intern" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>