src/main/configurations/frank/xsd/ValidateZaakType.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="results" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="_links">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="self"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="uuid"/>
              <xs:element type="xs:string" name="omschrijving"/>
              <xs:element type="xs:string" name="toelichting"/>
              <xs:element type="xs:string" name="additionele_informatie" minOccurs="0"/>
              <xs:element name="extra" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="luminizerOnderwerpOmschrijving" type="xs:string" minOccurs="0"/>
                    <xs:element name="ultimoOnderwerpCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="ultimoOnderwerpOmschrijving" type="xs:string" minOccurs="0"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
