src/main/configurations/morcore/xsd/ValidateGetMeldingTaak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="_links">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="melding">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="href"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="_links">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="self">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="href"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="communicatie">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="href"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="uuid"/>
              <xs:element type="xs:string" name="taaktype"/>
              <xs:element type="xs:string" name="taakapplicatie"/>
              <xs:element type="xs:string" name="bericht"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="laatst_ontvangen_update"/>
              <xs:element name="additionele_informatie">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="veld"/>
                    <xs:element type="xs:string" name="waarde"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
 
