src/main/configurations/backup resources/xsd/TaakApi/ValidatePostTaakResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="_links">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="self">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="href"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="uuid"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>