src/main/configurations/Luminizer/xsd/ValidationPostZaak_v2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mor_id" type="xs:integer"/>
        <xs:element name="malfunction" type="MorRotterdamMalfunctionDto"/>
        <xs:element name="assets">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="asset_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="user" type="MorRotterdamUserDto"/>
        <xs:element name="attachments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attachment" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="url" type="xs:string"/>
                    <xs:element name="filename" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="MorRotterdamMalfunctionDto">
    <xs:sequence>
      <xs:element name="malfunction_type" type="xs:string"/>
      <xs:element name="malfunction_remark" type="xs:string"/>
      <xs:element name="malfunction_timestamp" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MorRotterdamUserDto">
    <xs:sequence>
      <xs:element name="user_click_latitude" type="xs:decimal" nillable="true"/>
      <xs:element name="user_click_longitude" type="xs:decimal" nillable="true"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
